/* .card{
width: 100%;
} */

header div{
column-gap: 15px;
}

.username{
text-decoration: none;
color: black;
font-weight: bolder;
}

.more{
justify-self: flex-end;
text-decoration: none;
color: black;
font-weight: bolder;
}

.user-photo{
width: 40px;
height: 40px;
border-radius: 50%;
cursor: pointer;
}

.image{
/* width: 614px; */
width: 100%;
}

.description{
row-gap: 15px;
}

.buttons{
font-size:24px;
}
.buttons i{
cursor: pointer;
}

.buttons div{
column-gap:14px;
}

.save{
}

.likes{
font-weight: bolder;
}

.comments a{
text-decoration: none;
color: grey;
}

.upload-time{
color: grey;
}

.add-comment{
border-top: 1px solid #e0e0e0;
font-size: 18px;
}

.comment-field{
border: 0;
outline: none;
width: 85%;
}

.post-btn{
border: 0;
background-color: unset;
color: rgb(0, 119, 255);
font-weight: bolder;
}