.icon{
    font-size: 1.3rem;
    color: black;
}

.header__searchBar > input{
    background: transparent;
    border-style: none;
}

.showData {
    height: fit-content;
    max-height: 20vh;
    width: 13.5vw;
    overflow: hidden;
    position: absolute;
    top: 60px;
    margin: 0 auto;
    overflow-y: scroll;
}