.profile{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
  
.status{
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
  
.posts{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}